# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/lastupdate.tmp
/media
/.beego.env
/beego-auth
/data
vendor/
/models/testdb.sql
/conf/dev.app.conf
/conf/app.conf
/.vault_root_dev.key
/.sendgrid_api.key
