	<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<div id="footer">
	    <ul id="featured" class="wrapper clearfix">
	        <li>
	            <img src="/static/img/astronaut.jpg" alt="Img" height="204" width="220">
	            <h3><a href="blog.html">Category 1</a></h3>
	            <p>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
	            </p>
	        </li>
	        <li>
	            <img src="/static/img/earth.jpg" alt="Img" height="204" width="220">
	            <h3><a href="blog.html">Category 2</a></h3>
	            <p>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
	            </p>
	        </li>
	        <li>
	            <img src="/static/img/spacecraft-small.jpg" alt="Img" height="204" width="220">
	            <h3><a href="blog.html">Category 3</a></h3>
	            <p>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
	            </p>
	        </li>
	        <li>
	            <img src="/static/img/space-shuttle.jpg" alt="Img" height="204" width="220">
	            <h3><a href="blog.html">Category 4</a></h3>
	            <p>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
	            </p>
	        </li>
	    </ul>
	    <div class="body">
	        <div class="wrapper clearfix">
	            <div id="links">
	                <div>
	                    <h4>Social</h4>
	                    <ul>
	                        <li>
	                            <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank">Google +</a>
	                        </li>
	                        <li>
	                            <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank">Facebook</a>
	                        </li>
	                        <li>
	                            <a href="http://freewebsitetemplates.com/go/youtube/" target="_blank">Youtube</a>
	                        </li>
	                    </ul>
	                </div>
	                <div>
	                    <h4>Heading placeholder</h4>
	                    <ul>
	                        <li>
	                            <a href="index.html">Link Title 1</a>
	                        </li>
	                        <li>
	                            <a href="index.html">Link Title 2</a>
	                        </li>
	                        <li>
	                            <a href="index.html">Link Title 3</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div id="newsletter">
	                <h4>Newsletter</h4>
	                <p>
	                    Sign up for Our Newsletter
	                </p>
	                <form action="index.html" method="post">
	                    <input type="text" value="">
	                    <input type="submit" value="Sign Up!">
	                </form>
	            </div>
	            <p class="footnote">
	                © Copyright © 2023.Company name all rights reserved
	            </p>
	        </div>
	    </div>
	</div>
	</div>
	<!-- end footer -->

	</body>

	</html>
